
body {
  	text-align: center;
  	color: purple;
  	background-color: transparent;
	background-image: url('D:/travail/Aéro 2/HTML/dossierlol/howl.gif');
}
table{
margin:auto;
}
td,th{
	border: 2px purple solid;
	text-align: center;
	color: purple;

}
.photocentrer {
	float: center;
}

h6 {
	text-align: center;
  	color: purple;
  	font-size:120px;

}