
body {
  	text-align: center;
  	color: whitesmoke;
  	background-color: teal;
}
table{
margin:auto;
}
td,th{
	border: 2px snow solid;
	text-align: center;
	color: aqua;

}
.photocentrer {
	float: center;
	max-width: 25%;
}

h1{
	color: snow;
	text-align: :center;
	font-weight: bold;
	font-size:xx-large;
	border: 1px honeydew solid;
}

h2{
	color: mintcream;
	text-decoration: underline;
}
